@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.p-organizationchart {
    overflow: auto;
    max-width: 100%;
}

.p-button {
    background: #007560 !important;
}

.p-button-danger {
    background: #D02927 !important;
}

.p-button.p-button-text {
    color: white !important;
}
