@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0 !important;
    padding: 0 !important;
}

.p-organizationchart {
    overflow: auto;
    max-width: 100%;
}

.p-button {
    color: white !important;
    background: #007560 !important;
}

.p-button-outlined {
    color: #007560 !important;
    background: white !important;
}

.p-column-filter-menu-button.p-column-filter-menu-button-active, .p-column-filter-menu-button.p-column-filter-menu-button-active:hover {
    background-color: #cce3df !important;
}

.p-button-danger {
    background: #D02927 !important;
}
.p-selectbutton .p-button {
    color: black !important;
    background-color: #fff !important;
}
.p-selectbutton .p-button.p-highlight {
    color: white !important;
    background-color: theme('colors.custom-main-700') !important;
}

.p-column-filter.p-fluid.p-column-filter-menu {
    margin-left: 0;
}

.p-dialog-header, .p-dialog-content, .p-dialog-footer {
    background-color: #F8F9FA !important;
}


.p-dialog-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.p-dialog-content {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.p-dialog-header + .p-dialog-content{
    border-radius: 0;
}
.p-dialog-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
    padding: 0 !important;
}
.p-dropdown-panel .p-dropdown-items {
    padding-top: 0 !important;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*::-webkit-scrollbar-track {*/
/*    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
/*}*/

::-webkit-scrollbar-thumb {
    background-color: #007560;
    border-radius: 4px;
    /*outline: 1px solid slategrey;*/
}
